.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
HELP.md

# Intellij
.idea/
*.iml
*.iws
.env

# Ignore service account key file
service-account-key.json

